.list {
  min-width: 300px;
  max-width: 300px;
  background-color: var(--bg1);
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  color: var(--fg1);
}

.list:hover {
  box-shadow: 2px 2px 2px var(--shadow);
}
