.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.home-link {
  text-decoration: none;
  color: var(--fg2);
  padding: 15px;
  margin: 20px;
  background-color: var(--bg2);
  font-weight: bold;
  border-radius: 5px;
}

.home-link:hover {
  color: var(--fg1);
  background-color: var(--bg1);
  box-shadow: 1px 1px 1px var(--shadow);
}

.board-title {
  color: var(--bg1);
}

.board-title:hover {
  color: var(--bg2);
  cursor: pointer;
}

.board-title__input {
  box-shadow: 1px 1px 1px var(--shadow);
}

.lists {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
