.add-form__modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.55);
}

.add-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: var(--bg1);
  box-shadow: 1px 1px 1px var(--shadow);
  border-radius: 5px;
}

.add-form__title {
  padding: 10px;
  color: var(--fg1);
}

.add-form__input {
  margin: 10px;
  color: var(--bg1);
}

.add-form__btn {
  margin: 10px;
  padding: 5px 10px;
  background-color: var(--bg3);
  color: var(--fg3);
  cursor: pointer;
  border: none;
  border-radius: 3px;
}
