:root {
  --bg1: #2b4054;
  --bg2: #4b6074;
  --bg3: #5b7084;

  --fg1: #8bab8b;
  --fg2: #abbbcb;
  --fg3: #f0f3f5;

  --shadow: #1b1b1b;
  --error: #aa1122;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--fg1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
